body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #5d21e9;
}

#pokemonName {
    padding: 6px;
}

#searchButton {
    background-color: #E94421;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#pokemonInfo {
    margin-top: 30px;
}

body{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF8DC;
    padding: 30px;
    margin: auto;
}

.contenedor-busqueda{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin: auto;

}

.home{

    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: none;
}

.home img{
width: 60px;
height: 60px;
}

.evolution-button {

display: none;

}